/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-light,
.theme-dark {
	--ffs-border-radius: 4px;
}

/* plugin layout */
.ffs__plugin-container {
	height: 100%;
}

.ffs__layout,
.ffs__layout--horizontal,
.ffs__layout--vertical {
	display: flex;
	height: 100%;
	overflow-y: hidden;
}

.ffs__layout--vertical {
	flex-direction: column;
}

.ffs__layout-pane,
.ffs__folders-pane--horizontal,
.ffs__files-pane--horizontal,
.ffs__folders-pane--vertical,
.ffs__files-pane--vertical {
	display: flex;
	flex-direction: column;
}

.ffs__files-pane--horizontal {
	flex: 1;
}

.ffs__files-pane--vertical {
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

/* layout divider */
.ffs__layout-divider {
	border: 1px solid var(--divider-color);
}

.ffs__layout-divider--horizontal {
	cursor: ew-resize;
	margin: 0 8px;
}

.ffs__layout-divider--vertical {
	cursor: ns-resize;
	margin: 16px 0;
}

/* folders and files action buttons */
.ffs__actions-container {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 16px;
	border-radius: var(--ffs-border-radius);
	background-color: var(--interactive-normal);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ffs__actions-section {
	display: flex;
	align-items: center;
	gap: var(--size-4-3);
}

.ffs__action-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.ffs__action-button-wrapper svg {
	width: 18px;
	height: 18px;
	stroke: var(--icon-color);
}

.ffs__action-button-wrapper svg:hover {
	transform: scale(1.1);
}
