/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-light,
.theme-dark {
	--ffs-border-radius: 4px;
}

/* plugin layout */
.ffs__plugin-container {
	height: 100%;
}

.ffs__layout,
.ffs__layout--horizontal,
.ffs__layout--vertical {
	display: flex;
	height: 100%;
	overflow-y: hidden;
}

.ffs__layout--vertical {
	flex-direction: column;
}

.ffs__layout-pane,
.ffs__folders-pane--horizontal,
.ffs__files-pane--horizontal,
.ffs__folders-pane--vertical,
.ffs__files-pane--vertical {
	display: flex;
	flex-direction: column;
}

.ffs__files-pane--horizontal {
	flex: 1;
}

.ffs__files-pane--vertical {
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

/* layout divider */
.ffs__layout-divider {
	border: 1px solid var(--divider-color);
}

.ffs__layout-divider--horizontal {
	cursor: ew-resize;
}

.ffs__layout-divider--vertical {
	cursor: ns-resize;
	margin: 16px 0;
}

/* Common Components */
.ffs__name-input {
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--text-on-accent);
	background-color: var(--text-selection);

	flex: 1;
	overflow: hidden;
}

.ffs__name {
	flex: 1;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.ffs__name--focused {
	color: var(--text-on-accent);
}

/* loading */
.ffs__loading-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ffs__loading-icon-wrapper.ffs__loading-icon {
	animation: spin 3s linear infinite;
}

/* folders and files action buttons */
.ffs__actions-container {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 16px;
	border-radius: var(--ffs-border-radius);
	background-color: var(--interactive-normal);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ffs__actions-section {
	display: flex;
	align-items: center;
	gap: var(--size-4-3);
}

.ffs__action-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.ffs__action-button-wrapper svg {
	width: 18px;
	height: 18px;
	stroke: var(--icon-color);
}

.ffs__action-button-wrapper svg:hover {
	transform: scale(1.1);
}

/* folder & file tree */
.ffs__tree,
.ffs__folder-tree,
.ffs__file-tree {
	flex: 1;
	overflow-y: auto;
}

.ffs__file-tree--empty {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ffs__empty-file-tree-icon {
	width: 60px;
	height: 60px;
	fill: var(--text-faint);
}

/* pin */
.ffs__pin-container {
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: var(--border-width) solid var(--background-modifier-border);
}

.ffs__pin-container .ffs-pin-icon {
	width: 12px;
	height: 12px;
	margin-right: 2px;
	fill: var(--icon-color);
	color: var(--icon-color);
}

.ffs__pin-header {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: var(--icon-color);
	margin-bottom: 4px;
	margin-left: 2px;
	font-size: 12px;
}

/* folder */
.ffs__draggable-container {
	flex: 1;
}

.ffs__subfolders-group {
	position: relative;
}

.ffs__subfolders-group-with-hierarchy-line {
	border-left: var(--border-width) solid var(--interactive-hover);
}

.ffs__folder-content--main {
	display: flex;
	align-items: center;
	flex: 1;
	overflow: hidden;
}

.ffs__folder-icon {
	margin-right: var(--size-4-2);
	width: 14px;
	height: 12px;
	fill: var(--text-muted);
}

.ffs__folder-icon--focused {
	fill: var(--text-on-accent);
}

.ffs__files-count {
	font-size: 12px;
	margin-left: 4px;
	color: var(--text-muted);
}

div.ffs__files-count--focused {
	color: var(--text-on-accent);
}

/* file */
div.ffs__file-content {
	padding-left: 16px;
}

.ffs__file-content-header {
	display: grid;
	grid-template-rows: auto auto;
	gap: 4px;
	padding: 8px 0px;
}

.ffs__file-content-title {
	display: flex;
	overflow: hidden;
	align-items: center;
}

.ffs__file-detail {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	font-size: 12px;
}

.ffs__file-content-preview {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ffs__file-created-time {
	letter-spacing: -0.6px;
	font-weight: 450;
}

/* Manual sort */
.ffs__manual-sort-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.ffs__manual-sort-list {
	overflow-y: auto;
	height: 50vh;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.ffs__manual-sort-breadcrumbs {
	width: 100%;
	background-color: var(--interactive-normal);
	border-radius: var(--ffs-border-radius);
	padding: 8px 16px;
}

.ffs__manual-sort-item--folder {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 8px;
	height: 30px;
	align-items: center;
	padding: 4px;
	border-radius: var(--ffs-border-radius);
	touch-action: none;
}

.ffs__manual-sort-item--folder:hover {
	background-color: var(--interactive-hover);
}

.ffs__draggable-area {
	display: flex;
	gap: 8px;
	align-items: center;
}

.ffs__enter-folder-button {
	color: var(--text-accent);
	text-decoration: underline;
}

.ffs__enter-folder-button--disabled {
	color: color-mix(in srgb, var(--text-accent), transparent 50%);
	cursor: not-allowed;
}

.ffs__manual-sort-item--file {
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 8px;
	height: 30px;
	align-items: center;
	padding: 4px;
	border-radius: var(--ffs-border-radius);
	touch-action: none;
}

.ffs__manual-sort-item--file:hover {
	background-color: var(--interactive-hover);
}

.ffs__sorting-item-container {
	opacity: 0.8;
	transform: scale(1.05);
}

.ffs__draggable-icon {
	width: 15px;
	height: 15px;
}
